# Dateien, die nicht in das Git-Repository eingefuegt werden sollen.

# Das Build-Verzeichnis mit den Binaries
build/
bin/
doc/
obj/
!bin/classifiers

# Log Dateien
*log*.txt

# Alle unsichtbaren Dateien aber nicht die .gitignore selber
.*
!/.gitignore

# CMake Abfall
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Eclipse Muell
.project
.cproject
.settings

# VS Muell
*.sln
*.vcxproj
*.filters
*.user

#CLion
.idea/
releases/

#CodeBlocks Muell
*.out
*.layout
*.cbp


# Linker Zeug
*.[aod]
*.so

#Backup Dateien
*~



# Keil uVision Compiler output-Ordner
Flash/
flash/
*.uvgui.*

# EAGLE Tempdata
*.b#*
*.s#*
*.l#*
*_*.job
*.pro

# atmel studio kram
*.eep
*.elf
*.hex
*.lss
*.srec
*.mk

# yolo weights
*.weights

*.pyc
*.zip
*.pdf
